<!DOCTYPE html>

<html lang="tr">

   <head>
       <link rel="stylesheet" href="futurizm.css">
       <meta charset="utf-8">
       <title>Sanal Galeri</title>
       <link rel="shortcut icon" href="/tuvalicon.jpg.jpg" type="image/jpg">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
   </head>
   <body>
    <nav class="menu">
      <span class="head">
           <a class="head" href="/"> <h1>Sanal Galeri</h1></a>
      </span>
      <a class="menu" href="/Kubizm">Kübizm</a>
          <a class="menu" href="/Minimalist">Minimalizm</a>
          <a class="menu" href="/Dadaist">Dadaizm</a>
          <a class="menu" href="/Pop-Art">Pop Art</a>
          <a class="menu" href="/Surrealizm">Sürrealizm</a>
          <a class="menu" href="/Ekspresyonist">Ekspresyonizm</a>
          <a class="menu" href="/Futurizm">Fütürizm</a>
     <span class="login">                                      
      <% if (displayLink == true) { %>
          <div class="dropdown">
               <button class="dropbtn"><%=kullanicilar.Name %> ↓</button>
               <div class="dropdown-content">
                 <a href="logout">Oturumu kapat</a>
               </div>
             </div>
       <% } else {%>  
        <a class="login" href="login">Oturum aç</a>   
        <% }  %>     
     </span> 
  </nav>        
       <div class="main">
        <div class="yazı">
            Fütürizm (Gelecekçilik), 20. yüzyılın başlarında (özellikle 1909 ile 1920 arasında) İtalya'da ortaya çıkmış, modern sanat ve toplumsal hareketlerin akımıdır. Bu akımın temel amaçları; geçmişteki estetik değerleri ve gelenekleri bütünüyle reddetmek, dünyanın geleceğinin "Modernlik" olduğunu savunmaktır.
        </div>
         <div class="search">
              <input type="text" class="tbox-search" placeholder="Aramak için tıklayınız">
              <button> 
                <a class="btn-search">
                    <i class="fa fa-search"></i>
                </a>
              </button>
              
         </div>
      </div>
      <div class="container-like">
        <div class="like">
          <h2> Bu Kategoride En Çok Beğenilenler </h2>
          <h3 class="iki"> İkinci </h3>
          <h3 class="bir"> Birinci </h3>
          <h3 class="uc"> Üçüncü </h3>
          <% if (displayLink == true) { %>
               <span class="iki"><a href="/fütürizm/fütürizm1.jpg"><img src="/fütürizm/fütürizm1.jpg" alt="fütürizm"></a></span>
               <span class="bir"><a href="/fütürizm/fütürizm2.jpg"><img src="/fütürizm/fütürizm2.jpg" alt="fütürizm"></a></span>
               <span class="uc"><a href="/fütürizm/fütürizm3.jpg"><img src="/fütürizm/fütürizm3.jpg" alt="fütürizm"></a></span>
               <% } else {%>  
                <span class="iki"><h2>Lütfen giriş yapınız</h2></span>
               <span class="bir"><h2>Lütfen giriş yapınız</h2></span>
               <span class="uc"><h2>Lütfen giriş yapınız</h2></span>
                <% }  %>  
        </div>
     </div>
     <div class="container-wp">
          <% if (displayLink == true) { %>
          <% for( let index = 1; index <= 4; index++ ) { %>
               <div class="fz">
                  <a href="/fütürizm/fütürizm<%=index%>.jpg"> <img src="/fütürizm/fütürizm<%=index%>.jpg"></a> 
                    
               </div>
          <% } %>
          <% } else {%>  
               <h1>RESİMLERİ GÖRMEK İÇİN LÜTFEN GİRİŞ YAPINIZ</h1>
               <% }  %> 
     </div>
   </body>
</html>

