<!DOCTYPE html>

<html lang="tr">

    <head>
        <link rel="stylesheet" href="giris.css">
        <meta charset="utf-8">
        <title>Sanal Galeri Login</title>
        <link rel="shortcut icon" href="/tuvalicon.jpg.jpg" type="image/jpg">
    </head>
<body>

    <div class="giris">
         <form action="/giris" method="post">
               <h1>Giriş Yap</h1>
               <input type="text" placeholder="Name" class="txt" name="Name" required>
               <input type="password" placeholder="Password" class="txt" name="password" required>
               <input type="submit" value="Giriş yap" class="giris">
         </form>

    </div>

</body>

</html>